.card__side--front {
    background-color: #ff3b3b;
}

.card__cont {
    background-color: #ff3b3b;
}

.card__side--back {
    background-image: url("https://static.vecteezy.com/system/resources/previews/010/175/079/non_2x/blue-orange-geometric-professional-background-free-vector.jpg");
    background-repeat: no-repeat;
    background-size: 50rem;
}

.card__img {
    width: 35%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.card__img img {
    width: 100%;
    height: auto;
    border-radius: 3px;
    box-shadow: 0 1.5rem 4rem rgba(0, 0, 0, 0.4);
}